:root {
  --main-bg-color: white;
  --banner-bg-color: #389f1b;
  --banner-bg-color: royalblue;
  --banner-hover-color: white;
  --red-color: #ff4040;
  --left-col-size: 190px;
}

body {
  font-family: "Verdana", Geneva, sans-serif;
  font-family: "Open", Sans, sans-serif;
}

button {
  margin-right: 5px;
}

#button-login {
  background-color: var(--red-color);
  background-color: #4caf50;
  color: white;
  border-radius: 8px;
  border: 2px white solid;
  width: 120px;
  height: 40px;
  margin-right: 105px;
}

#button-logout {
  background-color: var(--red-color);
  color: white;
  border-radius: 8px;
  border: 2px white solid;
  width: 120px;
  height: 40px;
  margin-right: 105px;
}

#button-profile {
  border: 2px white solid;
}

img {
  margin-right: 0px;
}
.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.icons {
  height: 100px;
  display: flex;
  float: right;
  align-items: center;
}

.cart-plus-count {
  position: relative;
  margin-right: 20px;
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
}

.top-left {
  display: flex;
  flex-direction: row;
  text-align: right;
  background-color: var(--banner-bg-color);
  width: 100%;
  margin-bottom: 0px;
  color: white;
  font-size: x-large;
}

.side-banner {
  background-color: var(--banner-bg-color);
  max-width: 150px;
  height: 100%;
  min-height: 450px;
}

.course-container {
  display: flex;
  width: 100%;
}

.red {
  color: var(--red-color);
}
.skipped {
  font-weight: bold;
  color: var(--red-color);
}
.wide {
  width: 100%;
}

.question-box {
  border: 2px solid var(--banner-bg-color);
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  width: 98%;
}

.question-template {
  width: 100%;
}
.top-left > div {
  margin: 10px;
  margin-left: 30px;
}

.top-left > div > a > img {
  border-radius: 90px;
}

.top-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--banner-bg-color);
  width: 100%;
  margin-bottom: 0px;
  font-size: x-large;
}
.top-banner > .title {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.bottom-banner {
  display: flex;
}

.bottom {
  border-bottom: 1px black solid;
}

.buttonVec > div > button {
  color: white;
  font-weight: bold;
  background-color: var(--banner-bg-color);
  width: 80px;
  height: 40px;
  border-radius: 8px;
  border: 1px white solid;
  width: 120px;
  height: 40px;
  margin: 5px;
  outline: 0;
}

.buttonVec > div > a > button {
  color: white;
  font-weight: bold;
  background-color: var(--banner-bg-color);
  width: 80px;
  height: 40px;
  border-radius: 8px;
  border: 1px white solid;
  width: 120px;
  height: 40px;
  margin: 5px;
}

.linkButton {
  color: white;
  font-weight: bold;
  background-color: var(--banner-bg-color);
  width: 80px;
  height: 40px;
  border-radius: 8px;
  border: 1px white solid;
  width: 120px;
  height: 40px;
  margin: 5px;
}

.no-margin {
  margin: 0px;
}

.s-link {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin: 0px;
  margin-bottom: 20px;
  position: relative;
}

.s-link > a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.d-link {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin: 5px;

  position: relative;
}

.d-link > a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.middle-row {
  position: relative;
  margin-top: 0px;
  width: 100%;
  min-height: 450px;
}

.top-row,
.bottom-row {
  position: relative;
  display: flex;
  margin-top: 0px;
  width: 100%;
}

.left {
  width: var(--left-col-size);
}
.right {
  width: 100%;
  margin: 0;
}

.shopping-cart {
  position: relative;
  height: 60px;
  left: -80px;
  top: 20px;
  margin: 0px;
}

.cart-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  height: 50px;
}

.design-cart {
  position: relative;
  height: 60px;
  left: 0px;
  top: 0px;
  margin: 10px;
}

.design-cart-icon {
  position: absolute;
  top: 2px;
  left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 10px;
  height: 50px;
}

#cart-count {
  position: absolute;
  top: -12px;
  right: -1px;
  background: white;
  color: black;
  border: solid black 1px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#design-cart-count {
  position: absolute;
  top: 1px;
  left: 30px;
  background: red;
  background: var(--red-color);
  color: white;
  border: solid black 3px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.indent {
  margin-left: 10px;
}
.login-form {
  font-family: "Verdana", Geneva, sans-serif;
  padding: 10px;
  border: 1px solid white;
  margin: 10px;
  margin-left: 0px;
  margin-top: 0px;
}

.main-container {
  font-family: "Verdana", Geneva, sans-serif;
  border: solid 1px black;
  margin: 10px;
  margin-top: 0px;
  margin-left: 0px;
  padding: 5px;
  background-color: white;
}

.items-container {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  flex-basis: 500px;
}

.item-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: solid 1px black;
  margin: 10px;
  margin-left: 0px;
  padding: 5px;
  width: 350px;
}

.img-container {
  display: block;
  margin-right: 0px;
  padding: 2px;
}

.cart-item-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: solid 1px black;
  margin: 10px;
  margin-left: 0px;
  padding: 5px;
  width: 250px;
}

.cart-design-container {
  display: block;
  justify-content: space-evenly;
  background-color: white;
  border: solid 1px black;
  margin: 10px;
  margin-left: 0px;
  padding: 5px;
  width: 250px;
  position: relative;
}

.description {
  display: block;
}
.number {
  color: blue;
  font-weight: bold;
}

input[type="number"] {
  width: 50px;
}

.criteria-container {
  display: flex;
  justify-content: left;
}

.criterion-container {
  margin-left: 5px;
  margin-right: 25px;
  width: 120px;
}

.inline {
  display: inline-block;
  margin: 5px;
}

#filter-button {
  position: relative;
  height: 22px;
  top: -5px;
}

#brickSearchResults {
  height: 400px;
  min-width: 700px;
  overflow: auto;
}

#payment-form {
  position: absolute;
}

#payment-div {
  position: relative;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#payment-form > input {
  float: right;
  clear: both;
}

#balance-div {
  margin-top: 5px;
  font-weight: bold;
}

.indent {
  margin-left: 20px;
}

.icon-btn {
  background-color: var(--banner-bg-color);
  color: white;
  background-color: white;
  color: var(--banner-bg-color);
  border-radius: 8px;
  border: 2px solid;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 5px;
  outline: 0;
  text-align: left;
  align-content: space-between;
  position: relative;
}

.icon-btn > span {
  position: absolute;
  left: 33px;
}

/* Darker background on mouse-over */
.icon-btn:hover {
  color: white;
  background-color: var(--banner-bg-color);
}

#switch-color {
  color: white;
  background-color: var(--banner-bg-color);
  border-radius: 8px;
  border: 2px solid var(--banner-bg-color);
}

.short {
  width: 100px;
}

.long {
  width: 105px;
}

.top-icon {
  color: white;
  font-size: xx-large;
  margin-right: 20px;
}

.top-icon:hover {
  color: lightgrey;
}

/*
 {
  box-sizing: border-box;
}
*/

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;

  position: fixed;
  top: 15px;
  left: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  background-color: var(--banner-bg-color);
  color: var(--banner-bg-color);
  color: white;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 280px;
  padding: 15px 10px 15px 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.9;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
  background-color: var(--red-color);
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

#test1 #test2 {
  width: 300px;
  height: 300px;
}

.pie-tin {
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  margin: 5px;
}
.pie-container {
  display: flex;
  flex-wrap: wrap;
}
